:root {

  --main-color: rgb(255, 255, 255);
  --information-background: rgb(255, 255, 255);
  --information-about: rgb(239, 239, 239);


}

.bidding-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bidding-back {
    display: flex;
    margin-top: 1rem;
    margin-left: 1rem;
    width: 100%;
    height: 60px;
    align-items: flex-start;

    .go-back {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      border-radius: 10px;
      background-color: var(--main-color);
      border: 1px solid grey;
      gap: 5px;

      * {
        margin: 0;
      }
    }

    .go-back:hover {
      background-color: rgb(193, 193, 193);
    }
  }

  .bidding-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .bidding-image {
      width: 30rem;
      background-color: red;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 30px;

      .image-container {
        width: 80%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        background-color: var(--information-about);
        overflow: hidden;

        img {
          flex-shrink: 1;
          min-width: 100%;
          min-height: 100%
        }
      }

      .bidding-about {
        width: 80%;
        min-height: 200px;
        background-color: var(--information-about);
        border-radius: 20px;
        display: flex;
        flex-direction: column;

        h4 {
          margin-left: 2rem;
          margin-top: 2rem;
        }

        div {
          margin-left: 2rem;
          margin-right: 2rem;
          margin-top: 1rem;
          background-color: var(--information-background);
          border-radius: 10px;
          border: 1px solid rgb(177, 177, 177);
          min-height: 100px;
          display: flex;
          justify-content: center;

          p {
            margin-top: 5px;
          }
        }
      }
    }

    .bidding-information {
      margin-right: 1rem;
      min-width: 400px;
      flex-grow: 1;
      background-color: blue;
      height: 100%;

      .bidding-title {
        width: 100%;
        padding-top: 5px;
        padding-left: 10px;

        h2 {
          font-size: 250%;
        }

        p {
          margin-top: 15px;
        }

        .bidding-creator {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 25px;

          .creator-container {
            width: 40px;
            height: 40px;
            border-radius: 25px;
            background-color: green;
            overflow: hidden;
            position: relative;

            img {
              width: 40px;
              height: 40px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }

      .bidding-countdown {
        margin-top: 20px;
        background-color: var(--information-about);
        width: 100%;
        height: 150px;
        border-radius: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
}