@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url(./homepage.css);
@import url(./biddingSite.css);
@import url(./contact.css);
@import url(./faq.css);
@import url(./job.css);
@import url(./aboutus.css);
@import url(./mypage.css);

* {
  box-sizing: border-box;
}

body {
  background-color: #85a2c1;
  font-family: "Playfair Display", serif;
}

#logo.rounded {
  width: 80px;
  border-radius: 50% !important;
}

#logo_header {
  font-family: "Playfair Display", serif;
  font-size: xx-large;
}

#main-pic {
  background-image: url('https://st4.depositphotos.com/4640111/41072/i/450/depositphotos_410721236-stock-photo-planning-vacation-travel-plan-trip.jpg');
  background-repeat: none;
  background-size: 1920px 1080px;
  background-attachment: fixed;
  min-height: 80vh;
}

#main-background {
  background-color: rgba(77, 77, 77, 0.712);
  min-height: 80vh;
  padding-bottom: 3vh;
}

#navbar-field {
  background-color: #85a2c1 !important;
}

.offcanvas {
  font-family: "Playfair Display", serif;
  background-color: #85a2c1;
}

.navlink {
  font-family: "Playfair Display", serif;
  list-style-type: none;
  font-size: 20px;
}

#navlink-home {
  color: antiquewhite !important;
  text-decoration: none;
}

#navlink-auction-form {
  color: antiquewhite !important;
  text-decoration: none;
}

#navlink-register {
  color: antiquewhite !important;
  text-decoration: none;
}

#navlink-my-page {
  color: antiquewhite !important;
  text-decoration: none;
}

#navlink-register {
  color: antiquewhite !important;
  text-decoration: none;
}

#navlink-login {
  color: antiquewhite !important;
  text-decoration: none;
}

#navlink-see-all {
  color: antiquewhite !important;
  text-decoration: none;
}

#navlink-see-all:hover {
  color: black !important;
}

#navlink-home:hover {
  color: black !important;
}

#navlink-auction-form:hover {
  color: black !important;
}

#navlink-register:hover {
  color: black !important;
}

#navlink-my-page:hover {
  color: black !important;
}

#navlink-login:hover {
  color: black !important;
}

footer {
  background-color: #85a2c1;
  position: relative;
  bottom: 0;
}




/* Runt ett objekt */
.auction_list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1vw;
}

.auction_list_container:hover {
  color: #222222;
  background-color: rgba(240, 248, 255, 0.161);
  border-radius: 20px;
}

.container {
  color: antiquewhite;
}


.carousel-container {
  width: 600px;
  height: 400px;
}

.image-container {
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(239, 239, 239);
  overflow: hidden;

  .arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: rgba(255, 255, 255, 0.587);
    filter: drop-shadow(0px 0px 10px #555);
  }

  .arrow:hover {
    cursor: pointer;
  }

  .arrow-left {
    left: 0.5rem;
  }

  .arrow-right {
    right: 0.5rem;
  }

  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;


    .slide {
      box-shadow: 0px 0px 7px #666;
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
    }

    .slide-hidden {
      display: none;
    }

    .indicators {
      display: flex;
      position: absolute;
      bottom: 1rem;
    }

    .indicator {
      background-color: rgba(255, 255, 255, 0.744);
      height: 12px;
      width: 12px;
      border-radius: 100%;
      border: none;
      outline: none;
      box-shadow: 0px 0px 5px #555;
      margin: 0 0.2rem;
      cursor: pointer;
    }

    .indicator-inactive {
      background-color: rgba(128, 128, 128, 0.703)
    }

  }

}

#fallback_section {
  display: flex;
  align-content: center;
  justify-content: center;
}

#fallback_container {
  font-family: "Playfair Display", serif;
  background-color: #85a2c1a0;
  color: antiquewhite;
  width: 70%;
  height: fit-content;
  padding: 3vh;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  min-height: 60%;
}

#see_all_auctions {
  display: flex;
  align-content: center;
  justify-content: center;
}

.timer>span {
  text-wrap: nowrap;
}


#blue_background_box {
  background-color: #85A2C1;
  width: 70%;
  border: 1px solid #c3c3c3;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1vh 1vw;
}

#sellers_page {
  background-color: #85A2C1;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.button_smooth {
  border: 1px solid darkgray;
  color: rgb(86, 86, 86);
  height: 36px;
  border-radius: 0.375rem;
}

.button_smooth:hover {
  border: 1px solid rgb(65, 65, 65);
}

.center_the_blue_login_box {
  display: flex;
  align-content: center;
  justify-content: center;
}

.blue_box_centered_login {
  background-color: #85A2C1;
  color: antiquewhite;
  width: 60%;
  height: 300px;
  padding: 10px;
  display: grid;
  flex-direction: column;
  border: 1px solid #c3c3c3;
  align-content: space-around;
}

.blue_box_centered_login form {
  display: flex;
  flex-direction: row;
}

#left_login {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  padding: 0 2px;
}

#right_login {
  display: flex;
  align-items: flex-end;
}

#new_user {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}

#new_user button {
  width: 100px;
}


.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

footer {
  padding-top: 2vh;
  color: antiquewhite;
}

#footer_first_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

#footer_left {
  display: flex;
  flex-direction: column;
}

#footer_right {
  display: flex;
  flex-direction: column;
}

#footer_last_section {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footlink {
  font-family: "Playfair Display", serif;
  list-style-type: none;
}

#link_contact {
  color: antiquewhite !important;
  text-decoration: none;
}

#link_contact:hover {
  color: black !important;
}

#link_faq {
  color: antiquewhite !important;
  text-decoration: none;
}

#link_faq:hover {
  color: black !important;
}

#link_job {
  color: antiquewhite !important;
  text-decoration: none;
}

#link_job:hover {
  color: black !important;
}

#link_about {
  color: antiquewhite !important;
  text-decoration: none;
}

#link_about:hover {
  color: black !important;
}

@media (max-width: 888px) {
  .carousel-container {
    width: 300px;
    height: 200px;
  }

  #shuffle_button {
    width: 100px;
  }

  #hompage_box {
    width: 80%;
  }

  .blue_box_centered {
    width: 80%;
  }
}

@media (max-width: 450px) {
  #blue_background_box {
    min-width: 310px;
  }

  #hompage_box {
    width: 100%;
  }

  .blue_box_centered {
    width: 100%;
  }
}
#my_page_first_section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3vw;
  height: fit-content;
}

#my_page_first_section >form{
  display: flex;
  flex-direction: column;
}

#my_page_update_button{
  margin-top: 1vh;
  width: fit-content;
}